:root {
    --main_background: #333233;
    --main_text: #fdfdfd;
}

@font-face {
    font-family: LTMuseum-Medium;
    src: url('assets/typefaces/LTMuseum-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: LTMuseum-Medium;
    src: url('assets/typefaces/LTMuseum-MediumItalic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: BDGrotesk;
    src: url('assets/typefaces/BDOGrotesk-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: BDGrotesk;
    src: url('assets/typefaces/BDOGrotesk-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: BagnardSans;
    src: url('assets/typefaces/BagnardSans.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Bagnard-Serif-Regular;
    src: url('assets/typefaces/Bagnard-Serif-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--main_background);
    color: var(--main_text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*region Header*/
.header-title {
    color: var(--main_text);
    font-family: Bagnard-Serif-Regular, serif;
    font-size: 81px;
    cursor: pointer;
}

.header-title:hover {
    transform: scale(0.9);
    transition: transform 0.5s;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.header h2 {
    float: left;
    color: var(--main_text);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-family: BagnardSans, serif;
    font-weight: lighter;
}
/*endregion*/

.quote {
    font-family: LTMuseum-Medium, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding-left: 50%;
}

.page-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    gap: 1rem;
}

.page-grid img {
    width: 100%;
}

.page-grid p {
    font-family: BDGrotesk, serif;
    text-justify: auto;
    hyphens: auto;
}

