:root {
    --main_background: #333233;
    --main_text: #fdfdfd;
}

@font-face {
    font-family: LTMuseum-Medium;
    src: url('assets/typefaces/LTMuseum-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: LTMuseum-Medium;
    src: url('assets/typefaces/LTMuseum-MediumItalic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: BDGrotesk;
    src: url('assets/typefaces/BDOGrotesk-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: BDGrotesk;
    src: url('assets/typefaces/BDOGrotesk-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: BagnardSans;
    src: url('assets/typefaces/BagnardSans.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--main_background);
    color: var(--main_text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-family: LTMuseum-Medium, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding-left: 50%;
}

.page-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    gap: 1rem;
}

.page-grid img {
    width: 100%;
}

.page-grid p {
    font-family: BDGrotesk, serif;
    text-justify: auto;
    hyphens: auto;
}

